#formulario_calculo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.938rem;

  color: black;
  background-color: white;
  ;
  border-radius: 10px;
} 
#btnCalcula {
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
  background-color: black;
  color: #8257E5;
  width: 7.69rem;
  height: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;
}

#btnCalcula:hover {
  background-color: #8257E5;
  color: white;
  border-color: black;
}

input {
  border-radius: 5px;
  width: 80%;
  height: 20px;
  margin: 10px;
}
input::placeholder{
  padding-left: 5px;
  font-size: 10px;
}

select {
  border-radius: 5px;
  width: 80%;
  height: 20px;
  margin: 10px;
}


#calculo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}
@media all and (min-width: 390px) and (max-width: 1204px) {
  #calculo {
    align-content: space-around;
  }
}

#iconDinheiro {
  position: relative;
  max-width: 90%;
  
}
@media all and (min-width: 390px) and (max-width: 1204px) {
  #iconDinheiro {
    margin: 0;
    margin-bottom: 2%;
  }
}
@media (max-width: 600px) {
  #iconDinheiro {
    size-adjust: 75%;
  }
}

@media all and (min-width: 390px) and (max-width: 1204px) {
  .text_quant {
    margin: 4%;
  }
}
@media (max-width: 600px) {
  .text_quant {
    margin: 5%;
    font-size: 25px;
    max-width: 100%;
  }
}

.textExpl {
  display: flex;
  max-width: 50%;
  color: #ffffff;
  font-size: 30px;
  align-items: center;
}

#expl {
  background-color: #8c8c8c;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
#mockoup {
  width: 50%;
}
#resp{
  font-size: 25px;

}
