#contato {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 7rem;
  margin-bottom: 2px;
}

.iconContato {
  height: 50px;
}
#containerIconContatos {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.textContato {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: black;
  text-align: center;
  width: 100%;
}
#containerLinks{
  display: flex;
  align-items: center;
  flex-direction: column;
}

