#info {
  display: flex;
  align-items: center;
  justify-content: space-around;  
  flex-wrap: wrap;
  margin-top: 5rem;
}
@media all and (min-width: 390px) and (max-width: 1204px) {
  #info {
    align-content: space-around;
  }
} @media all and (max-width: 600px) {
  #text_sobre{
    display: none;
  }
  
}
#bolinha-moto {
  position: relative;
  max-width: 90%;
  top: 100%;
}
@media all and (min-width: 390px) and (max-width: 1204px) {
  #bolinha-moto {
    margin: 0;
    margin-bottom: 2%;
  }
} @media (max-width: 600px){
  #bolinha-moto {
    display: none;
}
}

.text {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 37px;
  justify-content: flex-start;
  margin: 10px;

  max-width: 40%;
  text-align: center;
  color: #ffffff;
}
@media all and (min-width: 390px) and (max-width: 1204px) {
  .text {
    font-size: 30px;
    max-width: 80%;
  }
}
@media (max-width: 600px) {
  .text {
    font-size: 25px;
    max-width: 100%;
  }
}
#description {
  flex-wrap: wrap-reverse;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
@media all and (min-width: 390px) and (max-width: 1204px) {
  #description {
    justify-content: space-around;
    margin: 0
  }
}
#motodinheiro {
  position: relative;
  max-width: 90%;
}
@media all and (min-width: 390px) and (max-width: 1204px) {
  #motodinheiro {
    margin: 0;
    margin-bottom: 2%;
  }
}
@media (max-width: 600px) {
  #motodinheiro {
    size-adjust: 75%;
  }
}
